@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*Partie 1 :  Textes */
/* Réglages du texte : */
*{
    margin: 0;
    padding: 0;
}

/* Réglages body en Arial regular (charte) : */
body{
    font-family: Arial;
    font-weight: normal;
}

/* Réglages des titres h1 et h2 en Arial medium (charte) : */
h1{
    color: #fff;
    font-size: 5rem;
    font-family: Arial;
    font-weight: 500;
}

h2{
    font-size: 3rem;
    margin-bottom: 100px;
    font-family: Arial;
    font-weight: 500;
}

/* Réglage taille du texte p :*/
p{
    font-size: 1.5rem;
    line-height: 1.5em;
}
/* Réglages générales : */
.section{
    padding: 100px 0;
}

.w40{
    width: 40%;
}

.w60{
    width: 60%;
}

.text-center{
    text-align: center;
}

.w25{
    width: 25%;
}

.w32{
    width: 32%;
}

.boxed{
    max-width: 1280px;
    margin-inline: auto;
}

.gap20{
    gap: 20px;
}

.wrap{
    flex-wrap: wrap;
}


/* Partie 2 : En-tête*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #1F63DE;
    z-index: 999;
    padding-block: 10px;
    box-shadow: 1px 1px 25px rgba(0,0,0,0.07);
}

/* Arrière plan bleu : */
.backgroundBlue{
    background: #1F63DE;
    color: #fff;
}

/* Logo : */
.header-logo{
    display: block;
}

.header-logo img{
    width: 40%;
    background-color: white;
}

/* Boutons des menus en haut à droite : */
.header-menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.header-menu li a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    display: block;
    box-sizing: border-box;
    transition: .2s ease;
}

.header-menu li a:hover{
    background-color: #f2f2f2;
}

/* couleur pour le bouton "Contact" */
.header-menu li:last-child a{
    background-color: white;
    color: black;
}

/*Permet de séparé les boutons :*/
.space-between{
    justify-content: space-between;
}

/* Pour version mobile : */
.header-menu-mobile{
    display: none;
}

/* Partie 3 : Images*/
/*Arrière-plan du titre Aix Marseille Université : */
.slider{
    width: 100%;
    min-height: 80vh;
    aspect-ratio: 16/9;
    background: #000;
    position: relative;
}

.slider-background{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(30%);
}

.slider-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.slider-content p{
    color: #fff;
    font-size: 2rem;
    font-weight: 300px;
}

.texte  {
    font-size: 1.2rem;
    line-height: 1.5em;
}

/*flex permet de centrer des éléments grosso modo : */
.flex{
    display: flex;
}

/*Permet de styliser des images (comme les images de prog en exemple) : */
.skill{
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
}

.skill img{
    width: 100px;
    height: 100px;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.skill h3{
    color: #000;
    margin-top: 10px;
}


/*En lien avec "skill", permet de faire des images interactives comme des boutons,
mais c'est que du bonus ici : */
.realisation{
    height: auto;
    aspect-ratio: 1/1;
    position: relative;
}

.realisation h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    width: max-content;
    opacity: 0;
    transition: .4s ease;
}

.realisation a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
}

.realisation img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(40%);
    transition: .4s ease;
}

.realisation:hover img{
    filter: brightness(60%);
}

.realisation:hover h3{
    opacity: 1;
}

.gallery1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Partie 4 : Bas de page (contact) : */
/*Réglags Icones et autre : */
.icon{
    display: block;
    font-size: 40px !important;
}

.label{
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    margin: 10px 0;
    font-size: 1.5rem;
}

.value{
    display: block;
    font-size: 1.2rem;
}

.contact{
    border: 2px dashed #fff;
    border-radius: 15px;
    padding: 30px;
    box-sizing: border-box;
}

.aligncenter{
    align-items: center;
}

.active{
    display: flex;
}

.t-underline{
    text-decoration: underline;;
}

/*Partie 4 : mobile : */   

@media(max-width:810px){

    header{
        height: 60px !important;
    }

    .header-menu-mobile{
        display: block;
        border: 0px;
        background-color: #fff;
        position: absolute;
        left: 5%;
        top: 50%;
        transform: translateY(-50%);
        z-index: 991;
    }

    .header-logo{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 9;
    }

    .header-menu{
        position: fixed;
        top: O;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        display: none;
    }

    .header-menu li:last-child a{
        margin-top: 10px;
    }

    h2{
        font-size: 1.75rem;
        margin-bottom: 30px;
    }

    .slider{
        height: 60vh;
    }

    .slider-content{
        width: 90%;
    }

    .slider-content p{
        margin-top: 20px;
        font-size: 1.5rem;
        text-wrap: balance;
    }

    h1{
        font-size: 2rem;
    }

    p{
        font-size: 1rem;
        text-wrap: balance;
    }

    .toColumn{
        flex-direction: column;
    }

    .mCenter{
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .wm100{
        width: 100% !important;
    }

    .section{
        padding: 50px 0;
    }

    .boxed{
        max-width: 90%;
    }

    .wm47{
        width: 47%;
    }

    .mgap20{
        gap: 20px;
    }
}